
<div class="container">
  <table  datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
      <tr>
        <th>COURSE_NAME</th>
        <th>MODIFIED_DATE</th>
        <th>TYPE</th>
        <th>BADGES</th>
        <th>STATUS</th>
      </tr>
    </thead>
    <hr>
    <tbody>
        <tr>
            <td>dhdfhgf</td>
            <td>1-23-2021</td>
            <td>SCORM</td>
            <td>Gold</td>
            <td>Active</td>

        </tr>
        <tr>
            <td>dhdfhgf</td>
            <td>1-23-2021</td>
            <td>SCORM</td>
            <td>Gold</td>
            <td>Active</td>
          </tr>
          <tr>
            <td>dhdfhgf</td>
            <td>1-23-2021</td>
            <td>SCORM</td>
            <td>Gold</td>
            <td>Active</td>
          </tr>
          <tr>
            <td>dhdfhgf</td>
            <td>1-23-2021</td>
            <td>SCORM</td>
            <td>Gold</td>
            <td>Active</td>
          </tr>
          <tr>
            <td>dhdfhgf</td>
            <td>1-23-2021</td>
            <td>SCORM</td>
            <td>Gold</td>
            <td>Active</td>
          </tr>
          <tr>
            <td>dhdfhgf</td>
            <td>1-23-2021</td>
            <td>SCORM</td>
            <td>Gold</td>
            <td>Active</td>
          </tr>
          <tr>
            <td>dhdfhgf</td>
            <td>1-23-2021</td>
            <td>SCORM</td>
            <td>Gold</td>
            <td>Active</td>
          </tr>
          <tr>
            <td>himanshu</td>
            <td>1-23-2021</td>
            <td>SCORM</td>
            <td>Gold</td>
            <td>Active</td>
          </tr>
          <tr>
            <td>dev</td>
            <td>1-23-2021</td>
            <td>SCORM</td>
            <td>Gold</td>
            <td>Active</td>
          </tr>
          <tr>
            <td>abhi</td>
            <td>1-23-2021</td>
            <td>SCORM</td>
            <td>Gold</td>
            <td>Active</td>
          </tr>
          <tr>
            <td>abhi</td>
            <td>1-23-2021</td>
            <td>SCORM</td>
            <td>Gold</td>
            <td>Active</td>
          </tr>
          <tr>
            <td>abc</td>
            <td>1-23-2021</td>
            <td>SCORM</td>
            <td>silver</td>
            <td>Active</td>
          </tr>
          <tr>
            <td>abc</td>
            <td>1-23-2021</td>
            <td>SCORM</td>
            <td>silver</td>
            <td>Active</td>
          </tr>
          <tr>
            <td>ijk</td>
            <td>1-23-2021</td>
            <td>SCORM</td>
            <td>silver</td>
            <td>Active</td>
          </tr>
          <tr>
            <td>xyz</td>
            <td>1-23-2021</td>
            <td>SCORM</td>
            <td>silver</td>
            <td>Active</td>
          </tr>
    </tbody>
</table>
</div>
  
