<div class="container"> 
    <div class="logo">
        <img src="assets/logo.png" alt="" width="150px">
    </div> 
    <h2>Registration Form</h2> 
    <form>  
         <div class="input_box">  
              <span><i class="fas fa-user"></i></span>  
              <input type="text" placeholder="Full Name" class="input-data">  
         </div>  
         <div class="input_box">  
              <span><i class="fas fa-envelope"></i></span>  
              <input type="email" placeholder="Email" class="input-data">  
         </div>  
         <div class="input_box">  
            <span><i class="fas fa-lock" aria-hidden="true"></i></span>  
            <input type="password" placeholder="Password" class="input-data">  
         </div>  
         <div class="input_box">  
              <span><i class="fas fa-mobile"></i></span>  
              <input type="text" placeholder="Mobile" class="input-data">  
         </div>    
         <div class="text">  
              <input type="checkbox">&nbsp;  
              <label>I agree with terms and conditions.</label>  
         </div>  
         <div class="text">  
              <input type="submit" name="submit" class="btn" value="Signup">
              <button type="submit" (click)="logout()">Logout</button>
         </div>
         <div class="text">  
            <label>If have already account?<a href="Signin">Signin</a></label> 
        </div>
    </form>  
</div>  
